* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	height: 100%;
}

h1 {
	margin: 30px;
	text-transform: uppercase;
    font-size: 35px;
    -webkit-text-shadow: 0px 2px rgba(0,0,0,0.19);
    -moz-text-shadow: 0px 2px rgba(0,0,0,0.19);
    text-shadow: 0px 2px rgba(0,0,0,0.19);
}

img {
	max-width: 100%;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.wrap {
	margin: auto;
    max-width: 1265px;
    max-height: 616px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    cursor: pointer;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #1e88e5;
    min-height: 30px;
    border-radius: 2px;
    min-width: 100px;
    margin-right: 10px;
    vertical-align: middle;
    transition: all .3s ease-out;
    border: none;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.19),0 2px 2px 0 rgba(0,0,0,0.13);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.19),0 2px 2px 0 rgba(0,0,0,0.13);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.19),0 2px 2px 0 rgba(0,0,0,0.13);
}

.btn:hover {
    background-color: #1976d2;
}

#wheel {
    margin-top: -15px;
}

#modal, #modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: none;
}

#modal-backdrop {
    z-index: 900;
    background-color: #000;
    opacity: 0.5;
}

#modal .dialog {
    margin: 10% auto;
    padding: 10px;
    width: 500px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #999;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    overflow: auto;
}

@media (max-width: 550px) {
	h1 {
		font-size: 30px;
	}

	#wheel {
		transform: scale(0.8);
	}

    #modal .dialog {
        width: 90%;
    }
}

@media (max-width: 430px) {
	h1 {
		font-size: 25px;
	}

	#wheel {
		transform: scale(0.7);
	}
}