html,body{margin:0;padding:0;}
*{box-sizing: border-box;}
a{text-decoration:none;}
img{max-width:100%; vertical-align: middle;}

body {
	font-family: "Open Sans", arial, sans-serif;
	font-weight: 300;	
	background-color: #FFFFFF;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.thumb {
    text-align: center;
	border: 1px solid #dddddd;
	padding: 5px;
    flex: 33.333333%;
}



